apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: yolo
spec:
  replicas: 1
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
    spec:
      containers:
        - name: client
          image: muchirisamuel/client:v1.0.2
          ports:
            - containerPort: 3000
